<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <title>Daroo Mail Composer</title>
</head>

<body>
  <main id="app">
    <section id="constructor">

      <!-- Фон -->
      <div class="form-group">
        <div class="custom-control custom-switch">
          <input v-model="showBackground" type="checkbox" class="custom-control-input" id="background">
          <label class="custom-control-label" for="background" style="cursor: pointer;">
            <h5>Фон</h5>
          </label>
        </div>
        Адрес к папке в ftp: <b>http://lists.daroo.gift/mails/</b> <i>(например:
          http://lists.daroo.gift/mails/06-12-2018/bg.png)</i>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Путь к изображению</span>
          </div>
          <input v-model="background" type="text" class="form-control"
            placeholder="http://lists.daroo.gift/mails/dd-mm-yy/name.png">
        </div>
      </div>
      <!-- // Фон -->

      <br>

      <!-- Шапка -->
      <div class="form-group">
        <div class="custom-control custom-switch">
          <input v-model="showHeader" type="checkbox" class="custom-control-input" id="header">
          <label class="custom-control-label" for="header" style="cursor: pointer;">
            <h5>Шапка</h5>
          </label>
        </div>
      </div>
      <!-- // Шапка -->

      <br>

      <!-- Меню -->
      <div class="form-group">
        <div class="custom-control custom-switch">
          <input v-model="showMenu" type="checkbox" class="custom-control-input" id="menu">
          <label class="custom-control-label" for="menu" style="cursor: pointer;">
            <h5>Меню</h5>
          </label>
        </div>
      </div>
      <!-- // Меню -->

      <br>

      <!-- Текст перед баннером -->
      <div class="form-group">
        <div class="custom-control custom-switch">
          <input v-model="showTextBeforeBanner" type="checkbox" class="custom-control-input" id="textbeforebanner">
          <label class="custom-control-label" for="textbeforebanner" style="cursor: pointer;">
            <h5>Текст перед баннером</h5>
          </label>
        </div>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Текст</span>
          </div>
          <textarea v-model='textBeforeBanner' class="form-control"></textarea>
        </div>
      </div>
      <!-- // Текст перед баннером -->

      <br>

      <!-- Баннер -->
      <div class="custom-control custom-switch">
        <input v-model="showBanner" type="checkbox" class="custom-control-input" id="banner">
        <label class="custom-control-label" for="banner" style="cursor: pointer;">
          <h5>Баннер</h5>
        </label>
      </div>
      <div class="form-group">
        Адрес к папке в ftp: <b>http://lists.daroo.gift/mails/</b> <i>(например:
          http://lists.daroo.gift/mails/06-12-2018/main.png)</i>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Путь к изображению (600x ...)</span>
          </div>
          <input v-model='bannerImage' type="text" class="form-control"
            placeholder="http://lists.daroo.gift/mails/dd-mm-yy/name.png">
        </div>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Ссылка на страницу</span>
          </div>
          <input v-model='bannerLink' type="text" class="form-control" placeholder="https://daroo.by/minsk/catalog">
        </div>
      </div>
      <!-- // Баннер -->

      <br>

      <!-- Текст после баннера -->
      <div class="form-group">
        <div class="custom-control custom-switch">
          <input v-model="showTextAfterBanner" type="checkbox" class="custom-control-input" id="textafterbanner">
          <label class="custom-control-label" for="textafterbanner" style="cursor: pointer;">
            <h5>Текст после баннера</h5>
          </label>
        </div>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Текст</span>
          </div>
          <textarea v-model='textAfterBanner' class="form-control"></textarea>
        </div>
      </div>
      <!-- // Текст после баннера -->

      <br>

      <!-- Заметка с картинкой после баннера -->
      <div class="form-group">
        <div class="custom-control custom-switch">
          <input v-model="showArticle" type="checkbox" class="custom-control-input" id="article">
          <label class="custom-control-label" for="article" style="cursor: pointer;">
            <h5>Заметка с круглой картинкой</h5>
          </label>
        </div>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Заголовок</span>
          </div>
          <input v-model='articleTitle' type="text" class="form-control">
        </div>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Текст</span>
          </div>
          <textarea v-model='articleText' class="form-control"></textarea>
        </div>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Путь к изображению (200x200)</span>
          </div>
          <input v-model='articleImage' type="text" class="form-control">
        </div>
      </div>
      <!-- Заметка с картинкой после баннера -->

      <br>

      <!-- Промокод -->
      <div class="form-group">
        <div class="custom-control custom-switch">
          <input v-model="showPromoCode" type="checkbox" class="custom-control-input" id="promocode">
          <label class="custom-control-label" for="promocode" style="cursor: pointer;">
            <h5>Промокод</h5>
          </label>
        </div>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Промокод</span>
          </div>
          <input v-model='promoCode' type="text" class="form-control">
        </div>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">HTML</span>
          </div>
          <textarea v-model='promoCodeText' class="form-control"></textarea>
        </div>
      </div>
      <!-- // Промокод -->

      <br>

      <!-- Секции товаров-->
      <div>
        <h5>Секции товаров</h5>

        <section-component v-for="section in sections" v-bind:section="section" v-bind:key="section.id">
        </section-component>

        <button @click="addSection(sections[sections.length - 1].id)" type="button"
          class="btn btn-outline-primary btn-sm">Добавить секцию</button>

      </div>
      <!-- // Секции товаров-->

      <br>

      <!-- Кнопка -->
      <div class="form-group">
        <div class="custom-control custom-switch">
          <input v-model="showButton" type="checkbox" class="custom-control-input" id="button">
          <label class="custom-control-label" for="button" style="cursor: pointer;">
            <h5>Кнопка</h5>
          </label>
        </div>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Текст</span>
          </div>
          <input v-model='buttonText' type="text" value="" class="form-control">
        </div>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Ссылка</span>
          </div>
          <input v-model='buttonLink' type="text" class="form-control" placeholder="Полный путь к странице">
        </div>
      </div>

      <br>
      <hr>
      <br>

      <!-- Итоговая разметка -->
      <div class="form-group">

        <h5 class="text-center">Итоговая разметка письма</h5>
        <div class="input-group">
          <textarea id="result-html" class="form-control" rows="10" readonly></textarea>
        </div>

      </div>
      <!-- // Итоговая разметка -->

    </section>

    <section id="view">


      <table cellpadding="0" cellspacing="0" border="0" width="100%"
        :style="`font-family: Helvetica, Arial, sans-serif; font-size: 14px; padding: 20px; ${ showBackground ? 'background-image: url(' + background + ');':''}`">
        <tbody>
          <tr>
            <td align="center" valign="top">

              <!-- HEADER -->
              <table v-if='showHeader' cellpadding="0" cellspacing="0" border="0" width="600"
                style="background-color: #944575;">
                <tbody>
                  <tr>
                    <td width="300" style="padding-left: 30px; padding-right: 5px; text-align: left;">
                      <a href="http://daroo.by" target="_blank">
                        <img src="http://lists.daroo.gift/mails/images/logo.png" width="120" height="80">
                      </a>
                    </td>
                    <td width="300" style="padding-right: 30px; padding-left: 5px; text-align: right;">
                      <a href="http://daroo.by" target="_blank">
                        <img src="http://lists.daroo.gift/mails/images/slogan.png" width="145" height="80">
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- // HEADER -->

              <!-- Отступ -->
              <table v-if='!showHeader' width="100%" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                  <tr>
                    <td height="80" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
                  </tr>
                </tbody>
              </table>
              <!-- // Отступ -->

              <!-- MENU -->
              <table v-if='showMenu' cellpadding="0" cellspacing="0" border="0" width="600" style="background: white;">
                <tbody>
                  <tr>
                    <td height="50" width="150" valign="bottom" align="center">
                      <a href="https://daroo.by/minsk/catalog" target="_blank">
                        <img src="http://lists.daroo.gift/mails/images/catalog.png" width="32" height="32">
                      </a>
                    </td>
                    <td height="50" width="150" valign="bottom" align="center">
                      <a href="https://daroo.by/minsk/sale" target="_blank">
                        <img src="http://lists.daroo.gift/mails/images/promo.png" width="32" height="32">
                      </a>
                    </td>
                    <td height="50" width="150" valign="bottom" align="center">
                      <a href="http://daroo.by/minsk/catalog?sortBy=new" target="_blank">
                        <img src="http://lists.daroo.gift/mails/images/badge.png" width="32" height="32">
                      </a>
                    </td>
                    <td height="50" width="150" valign="bottom" align="center">
                      <a href="https://daroo.by/user/invitation" target="_blank">
                        <img src="http://lists.daroo.gift/mails/images/bonus.png" width="32" height="32">
                      </a>
                    </td>
                  </tr>

                  <tr>
                    <td width="150" valign="top" style="padding-top:5px; padding-bottom: 15px; text-align: center;">
                      <a style="text-decoration: none; color: #3f454b;" href="https://daroo.by/minsk/catalog"
                        target="_blank">Каталог</a>
                    </td>
                    <td width="150" valign="top" style="padding-top:5px; padding-bottom: 15px; text-align: center;">
                      <a style="text-decoration: none; color: #3f454b;" href="https://daroo.by/minsk/sale"
                        target="_blank">Акции</a>
                    </td>
                    <td width="150" valign="top" style="padding-top:5px;padding-bottom: 15px; text-align: center;">
                      <a style="text-decoration: none; color: #3f454b;" href="http://daroo.by/minsk/catalog?sortBy=new"
                        target="_blank">Новинки</a>
                    </td>
                    <td width="150" valign="top" style="padding-top:5px;padding-bottom: 15px; text-align: center;">
                      <a style="text-decoration: none; color: #3f454b;" href="https://daroo.by/user/invitation"
                        target="_blank">Мои
                        бонусы</a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- // MENU -->

              <!-- Текст перед баннером -->
              <table v-if='showTextBeforeBanner' cellpadding="0" cellspacing="0" border="0" width="600"
                style="border-radius: 0px; background: rgb(255, 229, 144);">
                <tbody>
                  <tr>
                    <td width="600" height="80" align="center" valign="middle"
                      style="font-size:20px; line-height: 28px; padding: 20px;">{{ textBeforeBanner }}</td>
                  </tr>
                </tbody>
              </table>
              <!-- // Текст перед баннером -->

              <!-- BANNER -->
              <table v-if='showBanner' cellpadding="0" cellspacing="0" border="0" width="600">
                <tbody>
                  <tr>
                    <td>
                      <img width="600" :src="bannerImage">
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- // BANNER -->

              <!-- Текст после баннера -->
              <table v-if='showTextAfterBanner' cellpadding="0" cellspacing="0" border="0" width="600"
                style="border-radius: 0px; background: rgb(255, 229, 144);">
                <tbody>
                  <tr>
                    <td width="600" height="80" align="center" valign="middle"
                      style="font-size:20px; line-height: 28px; padding: 20px;">{{ textAfterBanner }}</td>
                  </tr>
                </tbody>
              </table>
              <!-- // Текст после баннера -->

              <!-- Заметка с картинкой -->
              <table v-if='showArticle' cellpadding="0" cellspacing="0" border="0" width="600"
                style="background: white;">
                <tbody>
                  <tr>
                    <td colspan="5">

                      <!-- Отступ -->
                      <table width="600" border="0" cellpadding="0" cellspacing="0" style="background: white;">
                        <tbody>
                          <tr>
                            <td height="40" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
                          </tr>
                        </tbody>
                      </table>
                      <!-- // Отступ -->

                    </td>
                  </tr>
                  <tr>
                    <td width="40">&nbsp;</td>
                    <td colspan="3" width="520" style="font-size:24px; line-height: 32px;">{{articleTitle}}</td>
                    <td width="40">&nbsp;</td>
                  </tr>
                  <tr>
                    <td>
                      <table width="100%" border="0" cellpadding="0" cellspacing="0" role="presentation">
                        <tbody>
                          <tr>
                            <td height="30" style="font-size: 1px; line-height: 1px;">&nbsp;
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td width="40">&nbsp;</td>
                    <td width="300" style="font-size:15px; line-height: 24px; vertical-align: middle;"
                      vertical-align="middle">{{articleText}}</td>
                    <td width="20">&nbsp;</td>
                    <td width="200">
                      <img :src='articleImage'>
                    </td>
                    <td width="40">&nbsp;</td>
                  </tr>
                  <tr>
                    <td colspan="5">

                      <!-- Отступ -->
                      <table width="600" border="0" cellpadding="0" cellspacing="0" style="background: white;">
                        <tbody>
                          <tr>
                            <td height="20" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
                          </tr>
                        </tbody>
                      </table>
                      <!-- // Отступ -->

                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- // Заметка с картинкой -->

              <!-- Промокод -->
              <table v-if='showPromoCode' cellpadding="0" cellspacing="0" border="0" width="600"
                style="background: white;">
                <tbody>
                  <tr>
                    <td colspan="3">

                      <!-- Отступ -->
                      <table width="600" border="0" cellpadding="0" cellspacing="0" style="background: white;">
                        <tbody>
                          <tr>
                            <td height="20" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
                          </tr>
                        </tbody>
                      </table>
                      <!-- // Отступ -->

                    </td>
                  </tr>
                  <tr>
                    <td colspan="3" width="600" height="80" align="center" valign="middle" style="font-size:24px;">Как
                      получить скидку</td>
                  </tr>
                  <tr>
                    <td width="200" height="60" align="center" valign="middle"><a href="https://daroo.by/minsk/catalog"
                        target="_blank"><img src="http://lists.daroo.gift/mails/images/step1.png" width="70"></a></td>
                    <td width="200" height="60" align="center" valign="middle"><img
                        src="http://lists.daroo.gift/mails/images/step2.png" width="70"></td>
                    <td width="200" height="60" align="center" valign="middle"><img
                        src="http://lists.daroo.gift/mails/images/step3.png" width="70"></td>
                  </tr>
                  <tr>
                    <td width="200" height="60" align="center" valign="middle" style="padding:10px; line-height: 20px;">
                      Выберите
                      товар<br><b><a href="https://daroo.by/minsk/catalog" target="_blank"
                          style="text-decoration: none; color:#944575;">на
                          сайте</a></b></td>
                    <td width="200" height="60" align="center" valign="middle" style="padding:10px; line-height: 20px;">
                      Добавьте
                      товар<br>в корзину</td>
                    <td width="200" height="60" align="center" valign="middle" style="padding:10px; line-height: 20px;">
                      Введите
                      промокод<br><b>{{promoCode}}</b></td>
                  </tr>
                  <tr>
                    <td colspan="3" width="600">
                      <small
                        style="text-align: center; display: block; padding-bottom: 15px; padding-top: 20px; padding-left: 10%; padding-right: 10%; color: grey;">
                        <span v-html='promoCodeText'></span>
                      </small>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- // Промокод -->

              <!-- Отступ -->
              <table width="600" border="0" cellpadding="0" cellspacing="0" style="background: white;">
                <tbody>
                  <tr>
                    <td height="40" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
                  </tr>
                </tbody>
              </table>
              <!-- // Отступ -->

              <!-- Сетка товаров -->
              <table width="600" border="0" cellpadding="0" cellspacing="0" style="background: white;">
                <tbody>
                  <tr>
                    <td width="40" style='width:40px;'>&nbsp;</td>
                    <td>

                      <!-- Секция -->
                      <table v-for='section in sections' width="520" border="0" cellpadding="0" cellspacing="0"
                        style='width: 520px'>
                        <tbody>

                          <!-- Заголовок секции -->
                          <tr v-if='section.title'>
                            <td colspan="2">

                              <table cellpadding="0" cellspacing="0" border="0">
                                <tbody>

                                  <tr>
                                    <td style="font-size:24px; line-height: 32px;">
                                      {{section.title}}
                                    </td>
                                  </tr>

                                  <tr>
                                    <td height="30" style="font-size: 1px; line-height: 1px;">
                                      &nbsp;
                                    </td>
                                  </tr>

                                </tbody>
                              </table>

                            </td>
                          </tr>
                          <!-- // Заголовок секции -->

                          <tr>
                            <td>

                              <!-- ITEM start -->
                              <div v-for='item in section.items'
                                style="display: inline-block; padding-bottom: 10px; width: 257px;">
                                <table cellpadding="0" cellspacing="0" border="0" width="250"
                                  :align="item.even ? 'right': 'left'" style="width: 250px">
                                  <tbody>

                                    <tr>
                                      <td>
                                        <a :href="item.link" target="_blank">
                                          <img :src="item.image" style="width: 100%; border-radius: 3px;">
                                        </a>
                                      </td>
                                    </tr>

                                    <tr>
                                      <td style="padding-top: 5px; line-height: 20px;">
                                        <b>{{item.title}}</b>
                                      </td>
                                    </tr>

                                    <tr v-if='item.isNew || item.isSet || item.discount'>
                                      <td style="line-height: 25px; padding-top: 5px;">

                                        <span v-if='item.isNew'
                                          style="background-color: #84b914; padding: 3px 5px; border-radius: 3px; color: white; font-weight: bold; white-space:nowrap;">Новинка</span>

                                        <span v-if='item.isSet'
                                          style="background-color: #ec5c44; padding: 3px 5px; border-radius: 3px; color: white; font-weight: bold; white-space:nowrap;">Набор</span>

                                        <span v-if='item.discount'
                                          style="background-color: #fdae2f; padding: 3px 5px; border-radius: 3px; color: white; font-weight: bold; white-space:nowrap;">Скидка
                                          {{item.discount}}</span>

                                      </td>
                                    </tr>

                                    <tr>
                                      <td style="padding-top: 5px; line-height: 20px; color:#fdae2f;">
                                        <b>{{item.price}}</b>
                                      </td>
                                    </tr>

                                    <tr>
                                      <td style="padding-top: 5px; line-height: 20px;"><span
                                          style="padding-right: 5px;">{{item.company}}</span>
                                        <span style="white-space:nowrap;"><span
                                            style="font-size: 17px; font-weight: bolder; color:#fdae2f; padding-right: 5px;">★</span><span>{{item.rating}}</span>
                                        </span>
                                      </td>
                                    </tr>

                                  </tbody>
                                </table>
                              </div>
                              <!-- ITEM end -->

                            </td>
                          </tr>

                          <tr>
                            <td>

                              <!-- Отступ -->
                              <table width="520" border="0" cellpadding="0" cellspacing="0" style="background: white;">
                                <tbody>
                                  <tr>
                                    <td height="30" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
                                  </tr>
                                </tbody>
                              </table>
                              <!-- // Отступ -->

                            </td>
                          </tr>

                        </tbody>
                      </table>
                      <!-- Секция -->

                    </td>
                    <td width="40" style='width:40px;'>&nbsp;</td>
                  </tr>
                </tbody>
              </table>
              <!-- // Сетка товаров -->

              <!-- BUTTON start -->
              <table v-if='showButton' width="600" border="0" cellpadding="0" cellspacing="0"
                style="background: white;">
                <tbody>
                  <tr>
                    <td colspan="2" align="center" valign="middle">
                      <a :href="buttonLink" target="_blank"
                        style="display: inline-block; background-color: #944575; color:white; text-decoration: none; padding: 15px 30px; border-radius: 3px;">{{buttonText}}</a>
                    </td>
                  </tr>

                  <!-- Отступ -->
                  <tr>
                    <td height="40" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
                  </tr>
                  <!-- // Отступ -->

                </tbody>
              </table>
              <!-- BUTTON end -->

              <!-- FOOTER -->
              <table cellpadding="0" cellspacing="0" border="0" width="600" height="60"
                style="background-color: #944575;">
                <tbody>
                  <tr>
                    <td align="center" valign="middle" width="600" height="60"
                      style="font-size:12px; color:#50263f; padding-left: 10px; padding-right: 10px;">
                      <a href="https://daroo.by/minsk/catalog" target="_blank"
                        style="text-decoration: none; color:#ffffff; padding-left:0px; padding-right:10px;">Каталог</a>|
                      <a href="https://daroo.by/minsk/sale" target="_blank"
                        style="text-decoration: none; color:#ffffff; padding-left:10px; padding-right:10px;">Акции</a>|
                      <a href="https://daroo.by/minsk/contacts" target="_blank"
                        style="text-decoration: none; color:#ffffff; padding-left:10px; padding-right:10px;">Магазины</a>|
                      <a href="https://daroo.by/minsk/dostavka-i-oplata" target="_blank"
                        style="text-decoration: none; color:#ffffff; padding-left:10px; padding-right:10px;">Доставка</a>|
                      <a href="mailto:da@daroo.gift" target="_blank"
                        style="text-decoration: none; color:#ffffff; padding-left:10px; padding-right:0px;">Email</a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- // FOOTER -->

              <!-- Подвал -->
              <table cellpadding="0" cellspacing="0" border="0" width="600">
                <tbody>
                  <tr>
                    <td height="20" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
                  </tr>
                  <tr>
                    <td align="center" style="color: grey; font-size: 12px;">Специально для вас мы делаем
                      тематические подборки сертификатов и первыми информируем об акциях, промокодах и
                      программах
                      лояльности DAROO. Но вы всегда можете <a href="{{unsubscribe_url}}"
                        style="text-decoration: unserline; color: grey;">отказаться от писем</a> с нашими
                      выгодными персонализированными предложениями.
                    </td>
                  </tr>
                  <tr>
                    <td height="20" style="font-size: 1px; line-height: 1px;">&nbsp;</td>
                  </tr>
                </tbody>
              </table>
              <!-- // Подвал -->

            </td>
          </tr>
        </tbody>
      </table>


    </section>

  </main>
</body>



<script type="text/x-template" id="section-component">

<!-- Секция товаров -->
<div class="container-fluid form-group border-left border-primary bg-light pt-3 pb-3 mb-2">

  <button v-if="section.id" @click="$root.removeSection(section.id)" type="button" class="close">
    <span aria-hidden="true" class='text-danger' title="Удалить секцию">&times;</span>
  </button>

  <h5 class="p-0">{{ section.title ? '«'+ section.title +'»' : 'Заголовок секции'}}</h5>

  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Заголовок секции</span>
    </div>
    <input v-model="section.title" type="text" class="form-control">
  </div>

  <br>

  <!-- Список товаров -->
  <div class="d-flex flex-wrap">
    <item-component v-for="item in section.items" :item="item" :key="item.id"></item-component>
  </div>
  <!-- // Список товаров -->

  <button @click="$root.addItem(section, section.items[section.items.length - 1].id)" type="button"
    class="btn btn-primary btn-sm m-2">Добавить позицию</button>

</div>
<!-- // Секция товаров -->

</script>

<script type="text/x-template" id="item-component">
  <div v-bind:class="[ item.even ? 'pl-1' : 'pr-1', 'w-50'] ">
    <div class="card form-group p-2">

      <div class='card-title'>

        <button v-if="item.id" @click="$root.removeItem($parent.section, item.id)" type="button" class="close">
          <span aria-hidden="true" class='text-danger' title="Удалить позицию">&times;</span>
        </button>

        <h5 class="text-center mb-0">{{item.title ? item.title : 'Позиция'}}</h5>
      </div>

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">JSON<br></span>
        </div>
        <input v-model='item.json' @input="$root.parseItemJSON(item)" type="text" placeholder="JSON со сниппета товара" class="form-control">
      </div>

    </div>
  </div>
</script>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="app.js" defer></script>

</html>